# dataset
dataset/
datasets/
data/images/
data/labels/

# training results
runs/

# cache
__pycache__/
*.pyc

venv/

# video & image besar
*.mp4
*.avi
*.jpg
*.png

# notebook checkpoint
.ipynb_checkpoints/


last.pt

